@font-face {
    font-family: 'voltaire'; /* Choose a name for your font */
    src: url('../fonts/Voltaire-Regular.ttf') format('woff');
    /*src: url('../fonts/Roboto-Regular.ttf') format('woff');*/
    /* You can include additional formats as needed */
  }

html, body , ul{
margin: 0; 
padding: 0; 
font-family: "voltaire";

}

/* baselayout */


.grid-section {
display: grid; 
grid-template-columns: 10% 1fr 10%; 

}

.padding-grid {
width: 100%;
 

}

.content {

margin: 2rem; 
}

nav > ul {

display: flex; 
list-style-type: none; 
background-color: lightblue; 
}

nav > ul  > li {
padding: 1rem; 
margin : auto; 
background-color: white;
color: black;  

}

nav > ul > li > a {
 text-decoration : none; 
}

/* studio */

.audiocard{
position: relative; 
margin:  1rem auto;
display: flex; 
flex-direction: column; 
align-items: center; 
padding: 1rem ; 
background-color: lightblue; 
border : 3px solid black; 
width: 50%; 
 
}

.audiocard > p {

margin: 10% 0 0 0 ; 
}

.audiocard button{

padding: .5rem;
}

.btnDiv{
position: absolute; 
display: flex;  
left: 2%;
top: 2%;

}

.hiddenTagDiv {

display: none; 
}

.selectedHeart {
background-color: black; 
color: gray; 
}

.tagp {
background-color: gray; 
border:  1px solid black;  
padding: .5rem 1rem; 
left: 10%;
}

/* loader   */

#selectFileNum{

background-color: azure";
padding: 1rem;
border: 1px solid black;

}

#submitFileNum{
background-color: azure;
padding: 1rem;
border: 1px solid black;

}

#loader-section {
display: flex; 
flex-direction: column; 

}
#loaderform {
display:flex;
flex-direction:column;
background-color:azure;

}

#loaderform input {
    padding : 1rem; 
    background-color:lightblue;

}





