/* acceuil */

.audiocard{
padding: 1rem; 
background-color: lightblue; 
border : 1px solid black 

}

/* loader   */

#selectFileNum{

background-color: azure";
padding: 1rem;
border: 1px solid black;

}

#submitFileNum{
background-color: azure;
padding: 1rem;
border: 1px solid black;

}

#loaderform {
display:flex;
flex-direction:columns;
background-color:azure;

}

#loaderform input {
    padding : 1rem; 
    background-color:lightblue;

}





