{{template "base" .}}

{{define "content"}}
    <section class="accueil-section">
         {{ range .Data.Tracks}} 
           <div class="audiocard"> 
              <button  data-url="/stream/sound/{{ .ID }}">
                {{ .Name }}
              </button>
              <button class="selectBtn">Select</button>
              <p> {{ .Tag }} </p>
            </div>
         {{ end }}
    </section>
    <script defer src="/static/js/acceuil.js"></script>
{{end}}