{{template "base" .}}

{{define "content"}}
    <section class="accueil-section">
         {{ range .Data.Tracks}} 
           <div> 
              <p>{{ .Name }}</p>
              <audio href="/{{ .ID }}">
                {{ .Name }}
              
              </audio>
            </div>
         {{ end }}
    </section>
{{end}}