{{template "base" .}}

{{define "content"}}
    <section >
       
        <div
    id="drop_zone"
    ondrop="dropHandler(event);"
    ondragover="dragOverHandler(event);">
    <p>Drag one or more files to this <i>drop zone</i>.</p>
    </div>
    <div id="drag_zone">
    </div>

    </section>
    <script defer src="/static/js/dragdrop.js"></script>
{{end}}