<!DOCTYPE html> 
<html> 
    <head> 
        <meta charset="UTF-8" /> 
        <title>Multipart Form Data</title> 
    </head> 
    <body> 
       
    </body> 
</html> 


{{template "base" .}}

{{define "content"}}
    <label>How many song to upload?</label>
    <input type="number" id="selectFileNum">
    <button type="submit"  id="submitFileNum">Submit</button>

     <form action="/upload" method="POST"
            enctype="multipart/form-data"> 
        <h4>Browse your file</h4> 
        <input type="file" name="uploadfile" /> <br><br> 
        <input type="submit" value="Upload File"/> 
    </form> 
    <script defer src="/static/js/loader.js"></script>
{{end}}