{{template "base" .}}

{{define "content"}}
    
    <section>
        <div id="trackDiv" data-json="{{ .Data.Tracks }}"></div>
        <button class="createPlaylistBtn"> Create Playlist </button>
        
    </section>
    <script defer src="/static/js/playlist.js"></script>
    <script defer src="https://kit.fontawesome.com/8c6e47f935.js" crossorigin="anonymous"></script>
{{end}}