{{template "base" .}}

{{define "content"}}
    <section id="single-track-section">
         <audio controls>
            <source src={{ .Path }} type="audio/mpeg">
          </audio>
    </section>
{{end}}